body {
  margin: 0px;
  text-align: center;
}

.cont {
  height: 100vh;
}

#place {
  background-color: rgb(253, 196, 242);
  font-family: "Kaisei Decol", serif;
  border-color: black;
  text-align: center;
  color: black;
  border: none;
}
  
.ContKeyboard button {
  color: black;
  background-color: pink;
  border: none;
  font-family: "Kaisei Decol", serif;
  opacity: 0.7;
}

.contSounds button {
  color: black;
  background-color: pink;
  border: none;
  font-family: "Kaisei Decol", serif;
  opacity: 0.7;
}

@media screen and (max-width: 2500px) {
  #place {
    box-shadow: 15px 15px 15px gray;
    margin: 20px 10px 10px 10px;
    padding: 0% 5% 0% 5%;
    height: 17vh;
    width: 95%;
    font-size: 60px;
    border-radius: 30px;
  }

  .ContKeyboard button {
    box-shadow: 15px 15px 15px gray;
    margin: 0px 20px 25px 0px;
    border-radius: 25px;
    font-size: 2.8vw;
    padding: 1% 2% 1% 2%;
  }

  .contSounds button {
    box-shadow: 6px 6px 8px gray;
    margin-bottom: 300px;
    border-radius: 25px;
    font-size: 2.8vw;
    margin-right: 30px;
    padding: 1% 1% 1% 1%;
  }
}

@media screen and (max-width: 1400px) {

  .ContKeyboard button {
    margin: 0px 15px 30px 0px;
    font-size: 3.4vw;
  }

  .contSounds button {
    font-size: 3.4vw;
  }
}

@media screen and (max-width: 1100px) {

  #place {
    font-size: 40px;
    height: 14vh;
  }


  .ContKeyboard button {
    margin: 0px 15px 30px 0px;
    font-size: 3.4vw;
    border-radius: 20px;
  }

  .contSounds button {
    font-size: 3.4vw;
    border-radius: 20px;

  }
}